{% extends 'base.html' %}

{% load myTag %}

{% block content %}

    {% for post in posts %}
        <div class = "post">
            <h1><a href="{% url 'rxublog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>published: {{ post.timestamp }} & edit: {{ post.updatetime }}</p>
        </div>
    {% endfor %}


     {% if posts.has_previous %}
            <a class='paginator' title='上一页' href='?page={{ posts.previous_page_number }}'><span>&lt;&lt;</span></a>
     {% endif %}
     {% for page in posts.paginator.page_range %}
             <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
     {% endfor %}
     {% if posts.has_next %}
         <a class='paginator' title='下一页' href='?page={{ posts.next_page_number }}'><span>&gt;&gt;</span></a>
     {% endif %}

{% endblock content %}


