{% load staticfiles %}
<html>
    <head>
        <title>Lpeter's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        {% block header %}
        {% endblock %}

    </head>
    <body>
        <div class = "page-header">
			<a href="{% url 'rxublog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/rxublog">Lpeter's blog</a></h1>
        </div>

		<div class="content">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		
    </body>
</html>