{% extends 'base.html' %}

{% load staticfiles %}
{% block header %}
{#    load js#}
{% endblock %}

{% block content %}
    <h2>{% if is_new %}New Post{% else %}Edit Post{% endif %}</h2>
    <div class="post">
        <form method="POST" class="post-form">
            {% csrf_token %}
            <div class="content">
               <p>{{ form.as_p }}</p>
            </div>
            <button type="submit" class="save btn btn-default">Save</button>
        </form>

    </div>

{% endblock %}