{% extends 'base.html' %}

{% load myTag %}

{% block content %}
    <div class="date">
        {% if post.timestamp %}
            {{ post.timestamp }}
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
        <span class="glyphicon glyphicon-pencil"></span></a>
    </div>
    <h1>{{ post.title }}</h1>
    <div>
       <p>
            {% autoescape off %}
                {{ post.body | my_markdown }}
            {% endautoescape %}
        </p>
    </div>

{% endblock %}